/.idea
/vendor/

###> shopware/core ###
.env.local
.env.local.php
.env.*.local
/public/bundles/*
/public/media/*
/public/theme/*
/public/thumbnail/*
/public/sitemap/*
/files/*
!/files/.htaccess
/var/*
!/var/.htaccess
/auth.json
/install.lock
/public/asset-manifest.json
###< shopware/core ###


# === Custom developer rules ===
# IDE settings
.vscode/
.idea/

# Node / frontend builds
/node_modules/
build/

# Docker / DDEV
.ddev/
docker-compose*
*.log

# Composer lock (optional for open plugins)
composer.lock
